<div class="breadcrumps-navigation-container">
    <a href="index.html" class="breadcrumps-navigation-text">Homepage</a>
    <p class="breadcrumps-navigation-text"> / </p>
    <a href="category.html" class="text-sm">Creating user</a>
</div>

<h1 class="create-user-form-title">Fill the following fields</h1>
<div class="create-user-form"> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email, class:"font-bold" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "create-user-form-input" %>
  </div>

  <div>
    <%= f.label :name, class:"font-bold" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "create-user-form-input" %>
  </div>

  <!-- Añadir todos los demás campos -->
  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<!-- <div class="header"></div>




<form action="#" method="post" class="create-user-form">
    <div>
        <label class="font-bold">User's name</label>
        <input type="text" name="name" placeholder="Name" class="create-user-form-input" required>
    </div>
    <div>
        <label class="font-bold">Phone number</label>
        <input type="tel" name="phone" placeholder="Phone number" class="create-user-form-input dark:text-black" required>
    </div>            
    <div>
        <label class="font-bold">Email address</label>
        <input type="email" name="email" placeholder="Email address" class="create-user-form-input dark:text-black" required>
    </div>
    
    <div>
        <label class="font-bold">Town / City</label>
        <input type="text" name="town" placeholder="Town or city" class="create-user-form-input dark:text-black" required>
    </div>
    <div>
        <label class="font-bold">Password</label>
        <input type="password" name="passwd" placeholder="Password" class="create-user-form-input dark:text-black" required>
    </div>
    <div>
        <label class="font-bold">ZIP / Postal code</label>
        <input type="text" name="zip" placeholder="Postal code or ZIP" class="create-user-form-input" required>
    </div>
    <div>
        <label class="font-bold">Address</label>
        <input type="text" name="address" placeholder="Address" class="create-user-form-input" required>
    </div>
    <div>
        <label class="font-bold">State / Country</label>
        <input type="text" name="state" placeholder="Choose a state or a country" class="create-user-form-input" required>
    </div>
    <input type="submit" value="Create" class="create-user-form-submit">
</form>

<div class="footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".header").load("header.html", function() {
        loadNavBarContents();
        loadSideBarContents();
})
        $(".footer").load("footer.html")
    })
</script>
-->