<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :oldPrice %>
    <%= form.text_field :oldPrice %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :product_attributes %>
    <%= form.text_field :product_attributes %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :delivery %>
    <%= form.text_field :delivery %>
  </div>

  <div class="field">
    <%= form.label :delivery_time %>
    <%= form.datetime_select :delivery_time %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :bestSeller %>
    <%= form.check_box :bestSeller %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
