<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Oldprice</th>
      <th>Description</th>
      <th>Product attributes</th>
      <th>Quality</th>
      <th>Company</th>
      <th>Delivery</th>
      <th>Delivery time</th>
      <th>Image</th>
      <th>Stock</th>
      <th>Bestseller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.oldPrice %></td>
        <td><%= product.description %></td>
        <td><%= product.product_attributes %></td>
        <td><%= product.quality %></td>
        <td><%= product.company %></td>
        <td><%= product.delivery %></td>
        <td><%= product.delivery_time %></td>
        <td><%= product.image %></td>
        <td><%= product.stock %></td>
        <td><%= product.bestSeller %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
