<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ProyectoDawRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark:bg-gray-900 dark:text-gray-300">
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer><%= render 'layouts/footer' %></footer>
  </body>

  <script>
    /* Funciones para modo oscuro */
    const html = document.querySelector("html");

    const toggleDarkMode = function() {
        if (sessionStorage.getItem("darkMode") == "true"){
            html.classList.remove("dark");
            sessionStorage.setItem("darkMode","false");
        } else {
            html.classList.add("dark")
            sessionStorage.setItem("darkMode", "true")
        } 
    }

    const checkDarkMode = function () {
        if (sessionStorage.getItem("darkMode") == "true") {
            html.classList.add("dark")
        } else {
            html.classList.remove("dark");
        }
    }
    checkDarkMode()

    /* Funciones de header */
function openNav() {
  document.getElementById("sidenav").style.display = "flex";

  if (document.documentElement.clientWidth <= 680) {
    // Movil
    document.getElementById("sidenav").style.width = "100%";
  } else if (document.documentElement.clientWidth <= 1080) {
    // tamaño < PC
    document.getElementById("sidenav").style.width = "50%";
  }
}

function closeNav() {
  document.getElementById("sidenav").style.display = "none";
  document.getElementById("sidenav").style.width = "0";
}

// Se reajusta el tamaño de la sidebar.
// Cuando pones la ventana pequeña -> abres sidbar -> agrandas pantallas -> queda horrible
window.onresize = function () {
  if (document.getElementById("sidenav").style.display == "none") {
    return;
  }
  if (document.documentElement.clientWidth <= 680) {
    // Movil
    document.getElementById("sidenav").style.width = "100%";
  } else if (document.documentElement.clientWidth <= 1080) {
    // Móvil < tamaño < PC
    document.getElementById("sidenav").style.width = "50%";
    closeMobileSearch();
  } else {
    // PC
    closeNav();
  }
};

function readNavSearch() {
  if (document.documentElement.clientWidth <= 680) {
    // Movil: Abres ventana adaptada para el teclado del movil
    document.getElementById("mobile-search-screen").style.width = "100%";
    document.getElementById("mobile-search-screen").style.display = "flex";
  } else {
    window.location.replace("search.html");
  }
}

function closeMobileSearch() {
  document.getElementById("mobile-search-screen").style.display = "none";
  document.getElementById("mobile-search-screen").style.width = "0";
}

  </script> 
</html>
