<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ProyectoDawRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark:bg-gray-900 dark:text-gray-300">
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer><%= render 'layouts/footer' %></footer>
  </body>

  <script>
    /* Funciones para modo oscuro */
    const html = document.querySelector("html");

    const toggleDarkMode = function() {
        if (sessionStorage.getItem("darkMode") == "true"){
            html.classList.remove("dark");
            sessionStorage.setItem("darkMode","false");
        } else {
            html.classList.add("dark")
            sessionStorage.setItem("darkMode", "true")
        } 
    }

    const checkDarkMode = function () {
        if (sessionStorage.getItem("darkMode") == "true") {
            html.classList.add("dark")
        } else {
            html.classList.remove("dark");
        }
    }

    checkDarkMode()
  </script> 
</html>
